@use '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.chat-messages {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mixins.borderLeft;


    &__select {
        margin: auto;
        font-size: 20px;
        color: rgb(82, 82, 82);
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        background-color: $mainBgn;
        @include mixins.borderBottom;
    }

    &__all {
        display: flex;
        flex-direction: column;
        padding: 15px 15px 80px 15px;
        height: calc(100vh - 60px);
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .chat-messages {
        &__select {
            font-size: 17px;
        }

        &__user {
            padding: 10px;
            font-size: 14px;
        }

        &__all {
            padding: 10px 10px 60px 10px;
        }
    }
}

@media (max-width: 550px) {
    .chat-messages {
        &__select {
            font-size: 14px;
            text-align: center;
        }

        &__all {
            padding: 10px 10px 40px 10px;
        }
    }
}
