@use '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.user-search {
    background-color: $mainBgn;
    display: flex;
    flex-direction: column;
    @include mixins.borderBottom;
    padding: 10px 15px;
}