@import '../../assets/variables.scss';

.search {
    padding-top: 20px;

    &__input {
        width: 100%;
        background: url('../../assets/images/searchIcon.png') no-repeat;
        background-color: #fff;
        background-position: 8px;
        background-size: 12px;
        border: 1px solid $border;
        border-radius: 20px;
        padding: 5px 10px 5px 30px;
    }
}

@media (max-width: 768px) {
    .search {
        padding-top: 15px;
    }
}

@media (max-width: 590px) {
    .search {
        padding-top: 10px;

        &__input {
            padding: 3px 8px 3px 28px;
            font-size: 12px;
        }
    }
}

@media (max-width: 550px) {
    .search {
        padding-top: 2px;

        &__input {
            padding: 1px 5px 1px 20px;
            font-size: 10px;
            background-size: 8px 8px;
        }
    }
}
