@import '../../assets/variables.scss';

.search {
    padding-top: 20px;

    &__input {
        width: 100%;
        background: url('../../assets/images/searchIcon.png') no-repeat;
        background-color: #fff;
        background-position: 8px;
        background-size: 12px;
        border: 1px solid $border;
        border-radius: 20px;
        padding: 5px 10px 5px 30px;
    }
}