.search {
    padding: 10px 0 15px 0;

    &__input {
        background: url('../../assets/images/searchIcon.png') no-repeat;
        background-color: #fff;
        background-position: 8px;
        background-size: 12px;
        border: 1px solid rgb(186, 186, 186);
        border-radius: 20px;
        padding: 5px 10px 5px 30px;
    }
}