.image {
    position: relative;

    &__user {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__online {
        position: absolute;
        bottom: 4px;
        left: 24px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }
}


