@use '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.message {
    display: flex;
    margin-bottom: 20px;

    &--right {
        justify-content: flex-end;
    }

    &__info {
        display: flex;
        max-width: 80%;

        &-text {
            width: fit-content;
            padding: 10px;
            margin-bottom: 5px;
            @include mixins.textMsg($myMsg, rgb(65, 65, 65));

            &--current {
                @include mixins.textMsg($currentMsg, rgb(255, 255, 255));
                margin-left: 5px;
            }
        }

        &-date {
            font-size: 10px;
            color: rgb(167, 167, 167);
            text-align: right;

            &--current {
                text-align: left;
                margin-left: 5px;
            }
        }
    }

}

@media (max-width: 768px) {
    .message {
        margin-bottom: 15px;

        &__info {
            &-text {
                font-size: 12px;
            }

            &-date {
                font-size: 9px;
            }
        }
    }
}

@media (max-width: 550px) {
    .message {
        margin-bottom: 10px;

        &__info {
            max-width: 90%;

            &-text {
                padding: 8px;
                font-size: 10px;
            }

            &-date {
                font-size: 7px;
            }
        }
    }
}
